<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Universe Tree</title>
    <link rel="stylesheet" href="css/app.css">

  </head>
  <body>
    <div>Double click an astro to add children, or click the <em>plus</em> sign to create siblings.</div>
    <div id="universe">
      <ul>
        <uni-elements v-bind:model="uniData">
        </uni-elements>
      </ul>
    </div>

    <template id="eb-template">
      <input v-model="name" v-on:keyup.enter="change" v-focus class="editBox" type="text" value="{{ model.name }}">
    </template>

    <script type="text/x-template" id="ue-template">
      <li>
        <div>
        	<span v-on:click="toggle" v-on:dblclick="giveInside" v-bind:class="{ clickable: hasInside, isOpen: open }" v-if="!editBox">{{ model.name }}</span>
          <edit-box v-else v-bind:model="model" v-on:blur="edit" v-on:change-name="handleChange"></edit-box>
          <sup v-if="model.type">{{ model.type }}</sup>
          <sup v-on:click="edit" class="edit-sup">edit</sup>
          <sup v-if="model.type !== 'universe'" v-on:click="remove(model)" class="remove-sup">remove</sup>
        </div>
        <ul v-show="open" v-if="hasInside">
          <uni-elements v-for="model in model.inside" v-bind:model="model">
          </uni-elements>
          <li><span v-on:click="addInside" class="pointer">+</span></li>
        </ul>
      </li>
    </script>

    <script src="js/vendor/vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
